/**
 * Brand colours and artifacts for a given site/customer.
 */
@navbar-default-bg:                #9999ff;
@brand-primary:                    #333333;
@brand-secondary:                  #ff0000;

// Branding colour assignments.
div[role="heading"] {
  background-color: @navbar-default-bg;
}
