{# Custom template to allow the Title Paragraph to have a separate heading
   text field and heading level (and optional background colour).
#}
{% set classes = [
  'paragraph',
  'paragraph--type--title',
  'paragraph--view-mode--default',
  content.field_bg ? content.field_bg[0]['#markup'],
]
%}
{% set hl = content.field_heading_level[0]['#markup'] %}

<div{{ attributes.addClass(classes) }}>
    <{{ hl }}>{{ content.field_heading_text[0]['#context']['value'] }}</{{ hl }}>
</div>
